    <footer class="block block--dark footer">
      <div class="container footer__sections">
        <section class="collapsible footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Products</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/icons.svg#chevron" />
            </svg>
          </header>
          <ul class="list collapsible__content">
            <li class="list__item"><a href="#">WordPress Hosting</a></li>
            <li class="list__item"><a href="#">Free Automated WordPress</a></li>
            <li class="list__item"><a href="#">Migrations</a></li>
            <li class="list__item"><a href="#">Domain Names</a></li>
            <li class="list__item"><a href="#">Monthly Web Hosting</a></li>
          </ul>
        </section>
        <section class="collapsible footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Company</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/icons.svg#chevron" />
            </svg>
          </header>
          <ul class="list collapsible__content">
            <li class="list__item"><a href="#">About</a></li>
            <li class="list__item"><a href="#">Affiliates</a></li>
            <li class="list__item"><a href="#">Blog</a></li>
            <li class="list__item"><a href="#">Careers</a></li>
            <li class="list__item"><a href="#">Community</a></li>
            <li class="list__item"><a href="#">News</a></li>
            <li class="list__item"><a href="#">Green Hosting</a></li>
          </ul>
        </section>
        <section class="collapsible footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Support</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/icons.svg#chevron" />
            </svg>
          </header>
          <ul class="list collapsible__content">
            <li class="list__item"><a href="#">Contact</a></li>
            <li class="list__item"><a href="#">Knowdlege Base</a></li>
            <li class="list__item"><a href="#">Forums</a></li>
            <li class="list__item"><a href="#">System Status</a></li>
            <li class="list__item"><a href="#">Web Hosting</a></li>
            <li class="list__item"><a href="#">Dream Compute</a></li>
          </ul>
        </section>
        <section class="collapsible footer__section">
          <header class="collapsible__header">
            <h2 class="collapsible__heading footer__heading">Domains</h2>
            <svg class="icon icon--white collapsible__chevron">
              <use xlink:href="images/icons.svg#chevron" />
            </svg>
          </header>
          <ul class="list collapsible__content">
            <li class="list__item"><a href="#">Domain Checker</a></li>
            <li class="list__item"><a href="#">Domain Transfer</a></li>
            <li class="list__item"><a href="#">Free Domain</a></li>
            <li class="list__item"><a href="#">XYZ Domain</a></li>
            <li class="list__item"><a href="#">Cheap SSL Certificate</a></li>
          </ul>
        </section>
        <section class="footer__brand">
          <a href="/"><img src="images/logo.svg" alt="page logo" /></a>
          <p>Copyright &#169 2020 mosh</p>
        </section>
      </div>
    </footer>
