<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="A smiling, happy customer" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--mobile icon--white">
          <use xlink:href="images/icons.svg#quotes" />
        </svg>
      </span>
    </div>
    <!-- <div style="height: 100px; background-color: dodgerblue"></div> -->
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum,
        temporibus reprehenderit dolor ea, amet dolores quisquam quia nemo
        eligendi aut rerum, fuga illum facilis eveniet illo delectus architecto
        sapiente? Sit repudiandae, dignissimos beatae eveniet autem iusto
        assumenda expedita ad! Molestiae ab recusandae magnam, a nihil rerum
        mollitia quae cupiditate modi.
      </p>
      <footer>
        <div class="media quote__signature">
          <div class="media__image">
            <svg class="icon quote__icon">
              <use xlink:href="images/icons.svg#line" />
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">John Smith</h3>
            <p class="media__content quote__company">ABC Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
